body {
    background-image: linear-gradient(120deg, #264c5e 100%, #cec2ae 100%);
    color: #cec2ae;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

label {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 15px;
}

.slider-results-div {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

form button {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
